<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflox</title>
    <link rel="shortcut icon" href="img/netflix-flavicon.png" type="image/jpg">
    <link rel="stylesheet" href="/css/contenido.css">
    <script src="/js/generos.js" defer></script>
</head>
<body>
    <header id="header">
        <div class="header-cont container">
            <div class="left-cont">
                <nav>
                    <a href="/index"><img class="logo" src="/img/logo.png" alt="netfloxLogo" /></a>
                </nav>
                <ul class="main-nav">
                    <li class="nav-item active"><a href="/contenido/<%= userId %>/<%= profileId %>">Inicio</a></li>
                    <li class="nav-item"><a href="#">Géneros</a></li>
                    <li class="nav-item"><a href="#">Mi lista</a></li>
                </ul>
            </div>
            <div class="right-cont">
                <!-- Ícono de avatar -->
                <img src="<%= avatar %>" alt="Avatar del perfil" class="profile-avatar" id="avatar">

                <!-- Menú desplegable del avatar -->
                <div id="dropdown" class="dropdown hidden">
                    <ul>
                        <li id="logout">Cerrar sesión</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div id="movies-cont" class="movies-cont">
        <% if (movies && movies.length > 0) { %>
          <% movies.forEach(genre => { %>
            <div class="genre-block">
              <h1><%= genre._id %></h1> <!-- Nombre del género -->
              <div class="movies-list">
                <% genre.movies.forEach(movie => { %>
                  <div class="movie">
                    <img src="<%= movie.thumbnail %>" alt="<%= movie.title %>">
                    <h3><%= movie.title %></h3>
                    <p><%= movie.description %></p>
                    <a href="<%= movie.url %>">Ver ahora</a>
                  </div>
                <% }) %>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <p>No hay películas para mostrar.</p>
        <% } %>
      </div>
      

</body>
</html>
