<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflox</title>
    <link rel="shortcut icon" href="img/netflix-flavicon.png" type="image/jpg">
    <link rel="stylesheet" href="/css/contenido.css">
    <script src="/js/generos.js" defer></script>
</head>
<body>
  <%- include('header') %>
    <div id="movies-cont" class="movies-cont">
        <% if (movies && movies.length > 0) { %>
          <% movies.forEach(genre => { %>
            <div class="genre-block">
              <h1><%= genre._id %></h1> <!-- Nombre del género -->
              <div class="movies-list">
                <% genre.movies.forEach(movie => { %>
                  <div class="movie">
                    <img src="<%= movie.thumbnail %>" alt="<%= movie.title %>">
                    <h3><%= movie.title %></h3>
                    <p><%= movie.description %></p>
                    <a href="<%= movie.url %>">Ver ahora</a>
                  </div>
                <% }) %>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <p>No hay películas para mostrar.</p>
        <% } %>
      </div>
</body>
</html>
