<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Lista - Netflox</title>
    <link rel="stylesheet" href="/css/contenido.css">
    <script src="/js/my_list.js" defer></script>

</head>
<body>
    <%- include('header') %>
        <h1 class="titulo">Mi Lista</h1>
        <div id="movies-cont" class="movies-cont">
            <% if (movies.length > 0) { %>
                <% movies.forEach(movie => { %>
                    <div class="movie" data-movie-id="<%= movie._id %>">
                        <img src="<%= movie.thumbnail || '/img/default-thumbnail.jpg' %>" alt="<%= movie.title %>">
                        <h3><%= movie.title %></h3>
                        <p><%= movie.description %></p>
                        <a href="<%= movie.url %>">Ver ahora</a>
                        <button class="remove-from-list-btn" data-movie-id="<%= movie._id %>">-</button>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No tienes películas en tu lista.</p>
            <% } %>
            <div id="movies-cont" class="movies-cont container"></div>

        </div>
    </div>
</body>
</html>

